@import "tailwindcss";

@theme {
  --color-primary: #ff781f;
  --color-background: #FDFDFFFF;
  --color-background-footer: #232323;
  --color-footer: #CCC;

  --font-display: "Inter", sans-serif;
  --font-mono: "ui-monospace", "SFMono-Regular", "Menlo", "Monaco", "Consolas", "Liberation Mono", "Courier New", "monospace";
}

@layer base {

  html,
  body {
    @apply bg-background text-zinc-900;
  }

  body {
    @apply font-display antialiased;
  }

  button {
    @apply cursor-pointer;
  }
}