---
import GithubIcon from "./icons/GithubIcon.astro";
import RssIcon from "./icons/RssIcon.astro";
---

<footer class="bg-background-footer text-footer py-16">
  <div class="max-w-5xl mx-auto px-6">
    <div class="flex flex-col md:flex-row justify-between items-center gap-8">
      <div
        class="flex flex-wrap items-center justify-center gap-4 text-xs text-text-muted md:justify-start md:gap-8"
      >
        <p>© 2026 naviary All rights reserved.</p>
      </div>
      <div class="flex items-center gap-6">
        <a
          class="hover:text-primary transition-colors"
          href="#"
          title="RSS Feed"
        >
          <RssIcon />
        </a>
        <GithubIcon className="hover:text-primary transition-colors" />
      </div>
    </div>
  </div>
</footer>
