---
interface Props {
  currentPage: number;
  totalPage: number;
}

const currentHref = Astro.url.pathname;
const { currentPage, totalPage } = Astro.props;

const targetHref =
  currentPage === 1
    ? currentHref
    : currentHref.split("/").slice(0, -1).join("/");

const pages = Array.from({ length: totalPage }, (_, i) => {
  const page = i + 1;
  const href = page === 1 ? targetHref : `${targetHref}/${page}`;
  return { page, href };
});
---

<nav class="flex items-center justify-center gap-2">
  {
    pages.map((page) => (
      <a
        href={page.href}
        class={`flex items-center justify-center size-10 rounded-lg text-sm font-medium transition-colors ${
          page.page === currentPage
            ? "bg-primary text-white"
            : "text-zinc-700 hover:bg-tertiary/2 hover:text-primary"
        }`}
      >
        {page.page}
      </a>
    ))
  }
</nav>
